女    {母婴 婴幼 瑜伽 美甲 美体 美容 写真 文胸 卫生巾 卫生护垫 长筒袜 裙 高跟鞋 女童 婴儿 幼儿 孕妇 家纺 手镯 护发 丝袜 眼线 唇膏 香奈儿 孕婴 妇科 比基尼 月经 胸花 面膜 面霜 蕾丝}     -{男}
男	  {阴茎 剃须 阳痿 早泄}
男    {服装 服饰 衣服 内衣 睡衣 男装 男袜}    {男}     -{女}
女    {服装 服饰 衣服 内衣 睡衣 女装 孕妇装 童装 女袜}    {女 童 婚纱 旗袍 抹胸 紧身 打底 塑身 防辐射 妈妈 性感 花边}
女    {包 箱 表 户外 鞋 帽}    {女 童}    -{男}
男    {包 箱 表 户外 鞋 帽}    {男}    -{女 童}
男    {保健 成人 男科}    {男用 男士 男性 补肾 壮阳 玛咖 玛卡 解酒 避孕套 鞭 前列腺}
女    {保健 成人 女科}    {女性 女用 女士 振动棒 震动棒 排毒养颜 左旋肉碱 补气养血 美白 祛斑}
男    {化妆 美容 美妆 彩妆 护肤 护理 洗护}    {男}
女    {化妆 美容 美妆 彩妆 护肤 护理 洗护}    -{男 汽车美容 器械 口腔 身体 个人 保健}
女    {饰品 项链 耳饰}    -{男}
男    {电脑 配件 耗材 线材 系统 集成}    {装机 攒机 组装 DIY CPU 主板 显卡 内存 机箱 显示器 声卡 光驱 刻录机 ADSL 网卡 单片机 IDE SATA}
男    {美食 食品 白酒 白干 茗茶}    {酒 茶}    -{酒店 酒吧 柚子茶 奶茶}
女    {美食 食品 冲调}    {美容 养颜 减肥 瘦身}
女    {图书}    {孕产 育儿 美食 烹饪 幼儿 婴儿 美妆 童书}
女    {百货}    {餐具 收纳}
男    {汽车用品}    {改装 组装}
女    {本地生活}    {丽人}
